%footer.footer
  %nav
    %ul.clearfix
      %li
        = link_to "プライバシーポリシー", "#"
      %li
        = link_to "フリマ利用規約", "#"
      %li
        = link_to "特定商取引に関する表記", "#"
  %div.footer-firm          
    = image_tag("/images/logo/logo.png", width:"134", height:"36")
  %div.firmname
    © Furima, Inc.