      .items_edit-image-box{
        display: flex;
      }
      
      .items_edit-content{
        display: flex;
      }
      
      .items_edit-lower-box{
        height: 150px;
        width: 100%;
        background-color: #f8f8f8;
        border: dashed 1px #d3d3d3;
      }
      
      .items_edit-lower-box__label{
        display:block;
        height: 100%;
        width: 100%;
        cursor: pointer;
      }

      .items_edit-preview-box{
        text-align: center;
        padding: 10px;
        margin: 0 10px;
        border: dashed 1px #d3d3d3;
      }