.Notification {
  .notice {
    background-color: #00ffff;
    color: #fff;
    text-align: center;
    font-size: 30px;
    height: 50px;
  }
  .alert {
    background-color: #ff4f02;
    color: #fff;
    text-align: center;
    height: 50px;
    font-size: 30px;
  }
}