-# .category-box
-#   %ul.category__parent
-#     - @parents.each do |parent|
-#       %li.category__parent--name
-#         = link_to parent.name, class: "parent_category",id: "#{parent.id}"
-#         %ul.category__child
-#           - parent.children.each do |child|
-#             %li.category__child--name
-#               = child.name 
-#               %ul.category__grandchild
-#                 - child.children.each do |grandchild|
-#                   %li.category__grandchild--name
-#                     = grandchild.name
                        